body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
  background-color: #191a23;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}